@import '/src/app/theme.scss';
@import '/src/app/styles/main.scss';

.articles {
  @include flexbox();
  flex-wrap: wrap;
  margin: 0 -10px;
}
.article {
  width: 31.33%;
  padding: 0 10px;
  margin-bottom: 2rem;
}
